* {
    font-family: "Amaranth", sans-serif;
    font-size: var(--font-size-body);
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: var(--color-surface);
    color: var(--color-primary);
    padding: 0;
    margin: 0;
}

span.material-symbols-rounded {
    font-variation-settings: var(--font-var-icon);
    font-size: var(--font-size-icon);
}

span.material-symbols-rounded.large {
    font-variation-settings: var(--font-var-icon-large);
    font-size: var(--font-size-icon-large);
}