@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');

body {
    background-color: #FFF4E0;
    font-family: 'Amaranth', sans-serif;
    color: #55361B;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.parent {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 40px;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.div1 {
    width: 100%;
}

/* --- TABLEAU --- */
.rankingTableContainer {
    background-color: #55361B;
    border-radius: 30px;
    padding: 10px;
}

.rankingTableTitle {
    color: #FFEFCE;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
    font-weight: normal;
}

.rankingTableContent {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #F2D49F;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid #D6B67F;
}

.rankingTableContent th {
    padding: 6px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #D6B67F;
    border-right: 2px solid #D6B67F;
}

.rankingTableContent td {
    padding: 6px;
    text-align: center;
    border-bottom: 2px solid #D6B67F;
    border-right: 2px solid #D6B67F;
}

.div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 100%;
}

.cow-img {
    width: 250px;
    margin-bottom: 20px; 
    margin-top: 20px;
}

.welcome-text {
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 30px;
}

.welcome-text span {
    font-weight: bold;
    font-size: 3.5rem;
}

/* --- BOUTONS --- */
.button-group {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

button {
    margin-top: 20px;
    background-color: #FFF4E0;
    border: 0px;
    color: #55361B;
    padding: 12px 25px;
    font-family: 'Amaranth';
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    margin-top: 0;
    width: auto;
    min-width: 250px;
    padding: 15px 30px;
}

/* --- FOOTER --- */
.footer-container {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    column-gap: 40px;
}

.button-group, #github {
    margin-top: 30px;
}

.secondary-buttons {
    display: flex;
    gap: 20px;
}

#github {
    background-color: #F2D49F;
    color: #55361B;
    border-radius: 20px;
    min-width: 250px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: large;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
}

.material-symbols-outlined{
    padding: 0;
    margin-left: 0px;
    vertical-align: middle;
    min-width: 1px;
}

.rankingButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 0px;
    vertical-align: middle;
    min-width: 1px;
}

.rankingButton .material-symbols-outlined {
    font-size: 18px;
    color: #55361bd8;
    font-weight: bold;
}

.rankingButton:hover .material-symbols-outlined {
    color: #55361B;
}

.rankingButton:active .material-symbols-outlined {
    color: #55361B;
}

.rankingButton[active="none"] .material-symbols-outlined {
    color: #55361b75;
}