body {
    display: flex;
    flex-direction: column;
}

.appbar {
    width: 100%;
    background-color: var(--color-primary);
    box-shadow: var(--shadow);
    position: relative;
    z-index: 1;
    display: flex;
    gap: 24px;
    padding: 24px;
    flex-shrink: 0;
    color: var(--color-surface);
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}

.appbar>.infos-left {
    display: flex;
    gap: 24px;
}

.appbar>.infos-left>div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.appbar>.infos-right {
    display: flex;
    gap: 12px;
    align-items: center;
    position: relative;
}

.appbar>.infos-right>#account {
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
}

.appbar>.infos-right>#account>img {
    height: 40px;
    width: auto;
    border-radius: 100px;
}

.appbar>.infos-right>#account-menu {
    background-color: var(--color-surface-dark);
    position: absolute;
    top: 64px;
    right: -16px;
    margin-top: 8px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    font-weight: normal;
    min-width: 264px;
    max-height: 0px;
    padding: 0px 6px;
    overflow: hidden;
    transition-duration: .3s;
    transform: translateY(-8px);
}

.appbar>.infos-right>#account-menu.open {
    max-height: 156px;
    padding: 6px;
    transform: translateY(0px);
}

.appbar>.infos-right>#account-menu>* {
    display: flex;
    gap: 16px;
    padding: 12px;
    border-radius: calc(var(--radius) - 6px);
    color: var(--color-primary);
    text-decoration: none;
}

.appbar>.infos-right>#account-menu>*:hover {
    background-color: var(--color-secondary);
}

.appbar>.infos-right>#money {
    border-radius: 100px;
    display: flex;
    gap: 6px;
    align-items: center;
    height: fit-content;
    padding: 6px 16px 6px 6px;
    background-color: var(--color-gold);
    color: var(--color-gold-dark);
    line-height: 1;
}

main {
    flex-grow: 1;
    width: 100%;
    background-image: url("/assets/dashboard-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.bottom-actions {
    padding: 24px;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    gap: 24px;
    justify-content: space-between;
    align-items: flex-end;
}

.bottom-actions>.links {
    display: flex;
    gap: 24px;
}

.bottom-actions>.links>a {
    text-decoration: none;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: var(--color-surface-dark);
    border-radius: var(--radius);
    padding: 16px 24px;
    box-shadow: var(--shadow);
}

.bottom-actions>.links>a:hover {
    background-color: var(--color-secondary);
}

.bottom-actions>.links>a>div {
    display: flex;
    flex-direction: column;
}

.bottom-actions>.links>a>div>.label {
    font-size: var(--font-size-body-large);
    font-weight: bold;
    margin-bottom: 4px;
}

.bottom-actions>#time {
    box-shadow: var(--shadow);
    background-color: var(--color-surface-dark);
    border-radius: 100px;
    display: flex;
    gap: 6px;
    align-items: center;
    height: fit-content;
    padding: 6px 16px 6px 6px;
    line-height: 1;
}